* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

section {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    margin: 0;
    overflow-y: hidden;
}
section {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.container-fluid
{    
position: relative;
}
.rinnerDiv {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* margin-top: 15vh; */
    margin-bottom: 4%;
    padding: 2%;
}
.rinnerDiv1 {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    /* margin-top: 15vh; */
    margin-bottom: 4%;
    padding: 2%;
    padding-left: 15%;
}
 
 
#logo {
    width: 60%;
    margin-bottom: 6vh;
    align-items: left;
}
 
a.btn-primary {
    margin-top: 2vh;
}  
.rinnerDiv button {
    width: 100%;
    /* Height: 7vh; */
    padding: 9px;
    border-radius: 9px;
    font-family: 'Inter', sans-serif;
    border: none;
    color: black;
    background-color: #ffe090;
}
#button1{
    border-radius: 15px;
    width: 80%;
   
}
.slide {
    width: 120vw;
    height:100% !important;
}
 
.col-md-8{
    overflow: hidden;
}
.col-sm-12{
    min-height: 50vh;
   
}
/* .slide {
    overflow-y: hidden;
    width: 100%;
    height: 100vh; */
    /* background-image: url("../Images/Login/MicrosoftTeams-image.png");
    background-size: cover; */
    /* animation: ChangeImage 10s linear infinite;
} */
/* @keyframes ChangeImage {
    0%{
        background-image: url("../Images/Login/MicrosoftTeams-image.png");
 
    }
    50%{
        background-image: url("../Images/Login/Sobha.jpg");
 
    }
    100%{
        background-image: url("../Images/Login/MicrosoftTeams-image.png");
 
    }
} */
.mySlides{
    width: 100vw;
    height: 100vh;
    min-height: 50vh;
    object-fit: fill;
}
@media (min-width: 768px)
{
.mySlides{
    width: 100vw;
    height: 100vh;
    min-height: 50vh;
    object-fit: fill;
}
}
@media (max-width: 767px)
{
.mySlides{
    width: 100vw;
    height: 50vh;
    min-height: 50vh;
    object-fit: fill;
}
}
#text{
    z-index: 1;
    Height: 10%;
    color: #fff;
    position: absolute;
    bottom: 15vh;
    padding-bottom: 2%;
    padding-left: 3%;
    font-family: 'Arial', sans-serif;
    margin-right: 2%;
}
#text1{
    z-index: 1;
    margin-right: 2%;
    Height: 10%;
    color: #fff;
    position: absolute;
    padding-bottom: 2%;
    bottom: 5vh;
    padding-left: 3%;
    font-family: 'Inter', sans-serif;
}
#text2{
    z-index: 1;
    margin-right: 2%;
    Height: 10%;
    color: #fff;
    position: absolute;
    bottom: 0vh;
    padding-left: 3%;
    font-family: 'Inter', sans-serif;
}